<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yl.vendingmachine.mapper.DrinkMapper">

    <update id="buyDrink">
        UPDATE  drink SET nowNum=nowNum-1 WHERE id=#{id}
    </update>

    <insert id="insertShopRecord">
        INSERT INTO shopHistory  VALUES (#{openid},#{drinkName},#{spend},#{time})
    </insert>

    <select id="getDrink" resultType="com.yl.vendingmachine.bean.Drink">
        SELECT * FROM drink
    </select>

    <update id="spendToBuy">
        UPDATE  user SET balance=balance-#{spend} WHERE openid=#{openid}
    </update>

    <select id="getShopHistoryByOpenid" resultType="com.yl.vendingmachine.bean.ShopRecord">
        SELECT * FROM shopHistory WHERE openid=#{openid}
    </select>
</mapper>