<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yl.smarthome.mapper.RecordMapper">

    <select id="getAllRecord" resultType="com.yl.smarthome.bean.Record">
        SELECT  user.position,history.equipment,history.operation,history.time FROM history JOIN user WHERE history.doorCard=user.doorCard
    </select>


</mapper>



































































































